/* app header */
h2 {
  border-bottom: 1px solid #ddd;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}
h2 > .creator {
  margin-left: 10px;
  font-size: 12px;
  white-space: nowrap;
}
app-rating {
  display: inline-block;
  float: left;
  position: relative;
  bottom: 8px;
}
app-rating span.back {
  color: #ffffff;
  text-shadow: 2px 2px 4px #aaaaaa;
}
app-rating span#fore {
  color: #fda900;
  text-shadow: 2px 2px 4px #aaaaff;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
app-rating span#user {
  color: #b80;
  position: absolute;
  left: 0;
  top: 0;
}



/* app body */
app-page > .app-container > * {
  box-shadow: 1px 1px 10px #999;
  padding: 8px;
  border-radius: 8px;
  margin: 33px 0;
}



/* tabs */
app-tabs {
  display: block;
}
app-tabs .tabs {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: -8px;
  bottom: -8px;
  width: calc(100% + 16px);
}
app-tabs .tabs > button {
  flex-grow: 1;
  border-radius: 25px 25px 0 0;
  font-size: 1.2em;
  padding: 5px 20px;
  color: #fff;
  background-color: #428bca;
  box-shadow: -1px -1px 5px #aaa;
  border: none;
}
app-tabs .tabs > button:first-child {
  border-radius: 0 25px 0 0;
}
app-tabs .tabs > button:nth-last-child(2) {
  border-radius: 25px 0 0 0;
}
app-tabs .tabs > button:hover {
  cursor: pointer;
}
app-tabs .tabs > button:hover,
app-tabs .tabs > button.selected {
  background-color: #3276b1;
}
app-tabs .tabs > button.selected {
  cursor: default;
}



/* reqbaz */
app-reqbaz {
  display: flex;
  flex-direction: column;
}
app-reqbaz > button.post {
  color: #000;
  text-shadow: none;
  display: flex;
  padding: 5px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  border-radius: 8px;
  cursor: pointer;
}
app-reqbaz > button.post:hover {
  background: #eee;
  text-shadow: none;
}
app-reqbaz .votes {
  flex-grow: 1;
  text-align: right;
  white-space: nowrap;
}
app-reqbaz a {
  display: block;
  text-align: center;
}



/* comments */
app-comments {
  display: block;
}
app-comments .add-comment {
  display: flex;
}
app-comments textarea {
  flex-grow: 1;
}
app-comments .comment::before {
  content: "";
  display: block;
  margin-bottom: 2px;
  height: 1px;
  position: relative;
  left: 8px;
  width: calc(100% - 16px);
  background: #eee;
}
app-comments .comment p {
  padding: 0 8px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
app-comments .comment-head {
  display: flex;
  font-size: .8em;
}
app-comments .comment-head > time {
  flex-grow: 1;
  text-align: right;
  color: #999;
}



/* deployments */
app-deployments {
  display: block;
}
app-deployments select {
  padding: 4px;
}
app-deploy-space input.valid { border-color: green; }
app-deploy-space input.checking { border-color: yellow; }
app-deploy-space input.error { border-color: red; }
