body {
  background-color: #fff;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  padding: 10px;
  color: #777;
}
i {
  font-family: 'Glyphicons Halflings';
}
button {
  border-radius: 5px;
}
please-app > .container {
  padding: 0 40px;
}
@media only screen and (max-width: 500px) {
  please-app > .container {
    padding: 0 8px;
  }
}
