body {
  background-color: #fff;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  padding: 10px;
  color: #777;
}
i {
  font-family: 'Glyphicons Halflings';
}
button {
  border-radius: 5px;
  cursor: pointer;
}
input {
  padding: 4px;
}
please-app > .container {
  padding: 0 40px;
}
please-app > .container > * {
  max-width: 800px;
  margin: auto;
}
please-app .footer::after {
  content: "▲ ▲ ▲";
  text-align: center;
  color: #eee;
  margin: 80px 0 40px 0;
  display: block;
}
@media only screen and (max-width: 500px) {
  please-app > .container {
    padding: 0 8px;
  }
}


button.post {
  background: #ffa300;
  border: 1px solid #ddd;
  color: #fff;
  text-shadow: 1px 1px 3px #333;
  font-size: 16px;
  padding: 8px;
  transition-duration: .5s;
}
button.post:hover {
  background: #ffb400;
  text-shadow: 1px 1px 3px #111;
}
button.post.process { cursor: default; }
button.post::before { content: '⏳ '; visibility: hidden; }
button.post::after  { content: ' ⏳'; visibility: hidden; }
button.post.process::after { visibility: visible; }
button.post.success:hover,
button.post.success {
  background: #0f0;
  transition-duration: 0s;
}
button.post.fail:hover,
button.post.fail {
  background: #f00;
  transition-duration: 0s;
}
